@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Oswald-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Oswald-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ofont.ru_Arial.ttf");
  font-display: swap;
}
html {
  height: 100vh;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
